.container {
  border: 1px solid black;
  border-top: none;
}
h2 {
  margin-block-start: 0;
  padding-top: 20px;
  text-align: center;
}
ul {
  padding: 0;
}
p {
  margin: 0;
  padding: 10px;
}
.toolbar {
  display: flex;
  margin-top: 20px;
}

.switch-extension {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.switch-extension__icon {
  height: 12px;
  width: 12px;
  margin-right: 8px;
  margin-left: 8px;
}

.switch-extension__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 50em;
  padding: 3px 0;
}

.switch-extension__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.switch-extension__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: #818181;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.switch-extension__marker {
  position: relative;
  background-color: #fff;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(24px);
  transition: transform 300ms linear;
}

.switch-extension__toggle + .switch-extension__track {
  transition: background-color 300ms linear;
}
.switch-extension__toggle:checked + .switch-extension__track {
  background-color: red;
  transition: background-color 300ms linear;
}

.switch-extension__toggle:checked ~ .switch-extension__marker {
  transform: translateX(3px);
}

/* tabs */

.tabs {
  overflow: hidden;
  margin-top: 20px;
  border-bottom: 1px solid black;
}
.tabs__container {
  display: flex;
  justify-content: space-between;
}

.tabs__button {
  width: 100%;
  height: 25px;
  background-color: grey;
  border: 1px solid black;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s linear;
}

.tabs__button:not(:last-child) {
  margin-right: 5px;
}

.tabs__button:hover,
.tabs__button:focus {
  color: red;
  transition: color 0.3s linear;
}

.tabs__button.active {
  position: relative;
  background: white;
  color: black;
  transition: all 0.3s linear;
}
.tabs__button.active:hover,
.tabs__button.active:focus {
  color: red;
  background: darkblue;
  transition: all 0.3s linear;
}

/* scroll */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: red;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  height: 25px;
  background: darkblue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
