html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  // outline: 2px solid red;
}

ul,
ul {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}
